.Rproj.user/3DFD42F2/sdb/prop/684539B9
.Rproj.user/3DFD42F2/sdb/prop/INDEX
.Rproj.user/3DFD42F2/sdb/s-3905DA16/609D0999
.Rproj.user/3DFD42F2/sdb/s-3905DA16/lock_file
IS606Spring2016.Rproj
.Rproj.user/3DFD42F2/sdb/prop/B03D29A2
.Rproj.user/3DFD42F2/sdb/s-CB7D934C/1C7395AF
.Rproj.user/3DFD42F2/sdb/s-CB7D934C/lock_file
.Rproj.user
Private/*
.Rhistory
Slides/working/
Shiny-MASS/config.R
Shiny-MASS/results
Shiny-MASS-rsconnect
Slides/.DS_Store
